//FONTS & TYPOGRAPHY
$font-family-base: 'Work Sans', system-ui, -apple-system, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//COLORS
$color-primary: #FFFFFF;
$color-primary-dark: #FBFBFB;
$color-text-primary: #213F7D;
$color-text-secondary: #545F7D;


// Status
$status-active: #39CD62;
$status-active-bg:rgba(57, 205, 98, 0.1);
$status-inactive:  rgba(84, 95, 125, 1);
$status-inactive-bg: rgba(84, 95, 125, 0.1);
$status-pending: rgba(233, 178, 0, 1);
$status-pending-bg: rgba(233, 178, 0, 0.1);
$status-blacklisted: rgba(228, 3, 59, 1);
$status-blacklisted-bg: rgba(228, 3, 59, 0.1);

// Actions
$color-error: #E31A1A;
$color-warning: #F7931E;
$color-success: #39CD63;
$color-HIGHLIGHT: #39CDCC;

//SPACING
$spacer: 0.25rem;           // 4px
$space-1: 0.25rem;          // 4px
$space-2: 0.5rem;           // 8px
$space-3: 0.75rem;          // 12px
$space-4: 1rem;             // 16px
$space-5: 1.25rem;          // 20px
$space-6: 1.5rem;           // 24px
$space-8: 2rem;             // 32px
$space-10: 2.5rem;          // 40px
$space-12: 3rem;            // 48px

//BORDER-RADIUS
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-pill: 9999px;


