// 1. Abstracts first (no output)
@use 'abstracts/variables' as *;
//@use 'abstracts/functions';
@use 'abstracts/mixins' as *;
//@use 'abstracts/breakpoints';

// 2. Base / reset (affects everything)
@use 'base/reset';
@use 'base/typography';
//@use 'base/base';

// 3. Layout (structural)
//@use 'layout/grid';
//@use 'layout/sidebar-layout';

// 4. Reusable components
//@use 'components/Button';
//@use 'components/StatusBadge';
//@use 'components/Card';
//@use 'components/Table';
//@use 'components/Sidebar';
//@use 'components/Header';
//@use 'components/FilterDropdown';

// 5. Page-specific (only overrides / unique rules)
@use 'pages/login';
//@use 'pages/users';
//@use 'pages/user-details';
